div[suma] {
    background-color: aqua;
}

div[suma="2560"] {
    color: red;
    background-color: yellow;
}

div[detaliczny ~ ="tak"] {
    background-color: red;
}
div[detaliczny*=tak]{
    background-color: blueviolet;
}
div[suma^="25"]
{background-color: darkblue;
}
div[suma$="0"]
{color: green;
}